{
  "Do the Right Thing": {
    "slug": "do-the-right-thing",
    "path": "dtrt/do-the-right-thing-parsed",
    "desc": "Script of Spike Lee's 1989 drama, with various speaker and scene annotations",
    "len": 17713,
    "drop_columns": ["voice_over", "camera_angle"],
    "disable": false,
    "date": "1989",
    "url": "https://en.wikipedia.org/wiki/Do_the_Right_Thing"
  },
  "Unabomber Manifesto" : {
    "slug": "manifesto",
    "path": "unabomber/manifesto-parsed",
    "desc": "Text of the Unabomber's manifesto",
    "len": 37347,
    "add_governor": false,
    "disable": false,
    "date": "1995",
    "url": "https://en.wikipedia.org/wiki/Ted_Kaczynski#Industrial_Society_and_Its_Future"
  }