cython
numpy
nltk
bllipparser
scipy
scikit-learn
tensorflow
spacy
pandas
tqdm
pyparsing
depgrep
git+http://github.com/interrogator/tabview.git#egg=tabview-1.4.5
setuptools
# just needed for test/ci:
flake8
coverage
mypy
codecov
pre-commit
black
isort
