cython
numpy
nltk
bllipparser
scipy
tensorflow
spacy
pandas
tqdm
pyparsing
https://github.com/interrogator/tabview/archive/master.zip
# just needed for test/ci:
flake8
coverage
mypy
codecov
pre-commit
black
