cython
numpy
nltk
bllipparser
scipy
scikit-learn
tensorflow
spacy==2.1.6
pandas==0.25.0
tqdm==4.33.0
pyparsing
depgrep>=0.1.2
git+http://github.com/interrogator/tabview.git#egg=tabview-1.4.5
setuptools
flask
dash
dash-daq
python-dotenv
# just needed for test/ci:
flake8
coverage
mypy
codecov
pre-commit
black
isort==4.3.21
