.loading-main::after{
  content: "Preparing your workspace...";
  position: fixed;
  margin-top: 100px;
}

/* Hide the 'Loading...' text at startup */
._dash-loading {
	display:none;
}

.no-underline {
	text-decoration: none;
	color: blue;
}
